# Scrape Pandas Table

In [1]:
import pandas as pd

In [2]:
# Read in HTML tables into a DataFrame
df = pd.read_html('https://static.bc-edx.com/data/web/mars_facts/index.html')

In [3]:
# Select the second table
mars_df = df[1]

In [4]:
# Rename columns
mars_df.columns=['description', 'Mars', 'Earth']

In [5]:
# Remove the first row from the DataFrame
mars_df = mars_df.iloc[1:]

In [6]:
mars_df

,description,Mars,Earth
1,Diameter:,"6,779 km","12,742 km"
2,Mass:,6.39 × 10^23 kg,5.97 × 10^24 kg
3,Moons:,2,1
4,Distance from Sun:,"227,943,824 km","149,598,262 km"
5,Length of Year:,687 Earth days,365.24 days
6,Length of Day:,24 hours 37 minutes,23 hours 56 minutes
7,Temperature:,-87 to -5 °C,-88 to 58°C
8,Atmosphere:,"mostly carbon dioxide, some water vapor","nitrogen, oxygen, argon, others"