In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# confirm that the "petsitly_marketing" database is in MongoDB
print(mongo.list_database_names())

['admin', 'autosaurus', 'classDB', 'config', 'epa', 'fruits_db', 'local', 'petsitly_marketing']

In [4]:
# assign the database to a variable name
db = mongo['petsitly_marketing']

In [5]:
# review the collections in our new database
print(db.list_collection_names())

['customer_list']

In [6]:
# assign the collection to a variable
customers = db['customer_list']

In [7]:
# Create a query that finds the customers who had over 50 visits in 2021
query = {'2021_Visits': {'$gt': 50}}

# Capture the results to a variable
results = customers.find(query)

# Pretty print the first two results
for i in range(2):
    pprint(results[i])

{'2021_Total_Spend': 948.75,
 '2021_Visits': 55,
 'Address': '6981 Christina Summit Apt. 971',
 'Customer_First': 'Virgil',
 'Customer_Last': 'Osinski',
 'Email': 'susanlopez@gmail.com',
 'Pet_Type': 'cat',
 '_id': ObjectId('634d8d20936ed4978420daed')}
{'2021_Total_Spend': 1638.75,
 '2021_Visits': 95,
 'Address': '4478 Alex Wells',
 'Customer_First': 'Danyell',
 'Customer_Last': 'Smitham',
 'Email': 'monroedavid@gmail.com',
 'Pet_Type': 'cat',
 '_id': ObjectId('634d8d20936ed4978420daee')}

In [8]:
# Create a query that finds the customers who spent $250 or less in 2021
query = {'2021_Total_Spend': {'$lt': 250}}

# Capture the results to a variable
results = customers.find(query)

# Pretty print the first two results
for i in range(2):
    pprint(results[i])

{'2021_Total_Spend': 172.5,
 '2021_Visits': 10,
 'Address': '68369 Harris Motorway Apt. 444',
 'Customer_First': 'Braulio',
 'Customer_Last': 'Daniel',
 'Email': 'georgedavid@yahoo.com',
 'Pet_Type': 'dog',
 '_id': ObjectId('634d8d20936ed4978420daf7')}
{'2021_Total_Spend': 224.25,
 '2021_Visits': 13,
 'Address': '8959 Juan Courts',
 'Customer_First': 'Terrence',
 'Customer_Last': 'Trantow',
 'Email': 'ujohnson@hotmail.com',
 'Pet_Type': 'fish',
 '_id': ObjectId('634d8d20936ed4978420daf9')}

In [9]:
# Create a query that finds the customer(s) who live in an apartment with "Suite" in the address
query = {'Address': {'$regex': "Suite"}}

# Capture the results to a variable
results = customers.find(query)

# Pretty print the first three results
for i in range(3):
    pprint(results[i])

{'2021_Total_Spend': 1397.25,
 '2021_Visits': 81,
 'Address': '2529 Anthony Streets Suite 146',
 'Customer_First': 'Ines',
 'Customer_Last': 'Monahan',
 'Email': 'hoffmantimothy@yahoo.com',
 'Pet_Type': 'cat',
 '_id': ObjectId('634d8d20936ed4978420daf1')}
{'2021_Total_Spend': 448.5,
 '2021_Visits': 26,
 'Address': '5359 Wilson Trafficway Suite 562',
 'Customer_First': 'Grady',
 'Customer_Last': 'Wyman',
 'Email': 'garciaangela@yahoo.com',
 'Pet_Type': 'cat',
 '_id': ObjectId('634d8d20936ed4978420daf2')}
{'2021_Total_Spend': 862.5,
 '2021_Visits': 50,
 'Address': '827 Juarez Radial Suite 343',
 'Customer_First': 'Dora',
 'Customer_Last': 'Walter',
 'Email': 'kristine10@gmail.com',
 'Pet_Type': 'turtle',
 '_id': ObjectId('634d8d20936ed4978420daf8')}

In [10]:
# Create a query that finds the customers who have turtles or fish
query = {'Pet_Type': {'$in': ["turtle", "fish"]}}

# Capture the results to a variable
results = customers.find(query)

# Pretty print the first three results
for i in range(3):
    pprint(results[i])

{'2021_Total_Spend': 448.5,
 '2021_Visits': 26,
 'Address': '34500 Acevedo Plains',
 'Customer_First': 'Consuela',
 'Customer_Last': 'Kunze',
 'Email': 'ycruz@gmail.com',
 'Pet_Type': 'turtle',
 '_id': ObjectId('634d8d20936ed4978420daf6')}
{'2021_Total_Spend': 862.5,
 '2021_Visits': 50,
 'Address': '827 Juarez Radial Suite 343',
 'Customer_First': 'Dora',
 'Customer_Last': 'Walter',
 'Email': 'kristine10@gmail.com',
 'Pet_Type': 'turtle',
 '_id': ObjectId('634d8d20936ed4978420daf8')}
{'2021_Total_Spend': 224.25,
 '2021_Visits': 13,
 'Address': '8959 Juan Courts',
 'Customer_First': 'Terrence',
 'Customer_Last': 'Trantow',
 'Email': 'ujohnson@hotmail.com',
 'Pet_Type': 'fish',
 '_id': ObjectId('634d8d20936ed4978420daf9')}